{% extends 'base/home.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-widget widget-user-2 shadow-sm">
                    <div class="widget-user-header bg-teal">
                        <div class="widget-user-image">
                            <img class="img-circle elevation-2" src="{% static 'img/umg.png' %}" alt="Umg">
                        </div>
                        <h3 class="widget-user-username">Universidad Mariano Galvez</h3>
                        <h5 class="widget-user-desc">Base de datos</h5>
                    </div>
                    <div class="card-footer p-0">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="{% url 'user:data_postgres' %}" class="nav-link">
                                    Conectar a BD PostgresSql
                                    <span class="float-right badge bg-primary"><i class="fas fa-database"></i></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'user:data_mysql' %}" class="nav-link">
                                    Conectar a BD MySql
                                    <span class="float-right badge bg-primary"><i class="fas fa-database"></i></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'user:bitacora_list' %}" class="nav-link">
                                    Bitacora
                                    <span class="float-right badge bg-primary"><i class="fas fa-clipboard"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}